{% extends "auctions/layout.html" %}
{% load static %}
{% block page_style %}
<link href="{% static 'auctions/index.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<h2>{{ title }}</h2>
{% for active in activeList %}
<a class="listing-link" href="{% url 'listingpage' active.id %}">
    <article class="listing">
        <div class="img-container">
            {% if active.image_url %}
            <img src="{{ active.image_url }}">
            {% else %}
            <img src="https://via.placeholder.com/200/FFFFFF/000000?text=No Image">
            {% endif %}
        </div>
        <h3 class="product-name">
            {{ active.name }}
        </h3>
        <p class="product-description">
            {{ active.description }}
        </p>
        <p class="product-price">
            ${{ active.current_price }}
        </p>
    </article>
</a>
{% endfor %}
{% endblock %}
